In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('train (1).csv')

## Выжившие при крушении (%):
    
|       Пол    |     На борту    | Первый класс:|Второй класс:|Третий класс:|
|:-------------|:----------------|:-------------|:------------|:------------|
|              |c родственниками |       97     |       93    |       42    |
|   Женщина    |:----------------|:-------------|:------------|:------------|  
|              |без родственников|       97     |       91    |       62    |
|:-------------|:----------------|:-------------|:------------|:------------|
|              |c родственниками |       28     |       43    |       18    |
|   Мужчина    |:----------------|:-------------|:------------|:------------|  
|              |без родственников|       10     |       33    |       12    |
|:-------------|:----------------|:-------------|:------------|:------------|


___Пассажиров второго класса мужского пола спаслось больше чем из других классов (в процентном соотношении).___

In [34]:
df_wom_1 = df.query("Sex == 'female' and Pclass == 1")
df_wom_1_int = df.query("Sex == 'female' and Pclass == 1").shape[0]
df_wom_1_int

94

Количество женщин на борту в первом классе = 94.

In [36]:
df_wom_1_liv = df.query("Sex == 'female' and Pclass == 1 and Survived == 1")
df_wom_1_liv_int = df.query("Sex == 'female' and Pclass == 1 and Survived == 1").shape[0]
df_wom_1_liv_int

91

Количество спасшихся женщин из первого класса = 91.

In [35]:
df_wom_1_free = df.query("Sex == 'female' and Pclass == 1 and SibSp == 0 and Parch == 0")
df_wom_1_free_int = df.query("Sex == 'female' and Pclass == 1 and SibSp == 0 and Parch == 0").shape[0]
df_wom_1_free_int

34

In [46]:
df_wom_1_fam_int = df_wom_1_int - df_wom_1_free_int
df_wom_1_fam_int

60

Женщин в первом классе без родственников на борту = 34,

Женщин в первом классе с родственниками на борту = 60.

In [48]:
df_wom_1_liv_free = df.query("Sex == 'female' and Pclass == 1 and Survived == 1 and SibSp == 0 and Parch == 0")
df_wom_1_liv_free_int = df.query("Sex == 'female' and Pclass == 1 and Survived == 1 and SibSp == 0 and Parch == 0").shape[0]
df_wom_1_liv_free_int

33

In [49]:
df_wom_1_liv_fam_int = df_wom_1_liv_int - df_wom_1_liv_free_int
df_wom_1_liv_fam_int

58

In [92]:
df_wom_1_liv_fam_int_per = round((df_wom_1_liv_fam_int / df_wom_1_fam_int) * 100, 0)
df_wom_1_liv_free_int_per = round((df_wom_1_liv_free_int / df_wom_1_free_int) * 100, 0)
df_wom_1_liv_fam_int_per, df_wom_1_liv_free_int_per

(97.0, 97.0)

Выжившие женщины из первого класса без родственников на борту = 33 (97%),

Выжившие женщины из первого класса с родственниками на борту = 58  (97%).

In [39]:
df_man_1 = df.query("Sex != 'female' and Pclass == 1")
df_man_1_int = df.query("Sex != 'female' and Pclass == 1").shape[0]
df_man_1_int

122

Количество мужчин на борту в первом классе.

In [43]:
df_man_1_free = df.query("Sex != 'female' and Pclass == 1 and SibSp == 0 and Parch == 0")
df_man_1_free_int = df.query("Sex != 'female' and Pclass == 1 and SibSp == 0 and Parch == 0").shape[0]
df_man_1_free_int

75

In [51]:
df_man_1_fam_int = df_man_1_int - df_man_1_free_int
df_man_1_fam_int

47

Количество мужчин без родственников на борту из первого класса = 75,

Количество мужчин с родственниками на борту из первого класса = 47.

In [50]:
df_man_1_liv = df.query("Sex != 'female' and Pclass == 1 and Survived == 1")
df_man_1_liv_int = df.query("Sex != 'female' and Pclass == 1 and Survived == 1").shape[0]
df_man_1_liv_int

45

Количество спасшихся мужчин из первого класса = 45.

In [52]:
df_man_1_liv_free = df.query("Sex != 'female' and Pclass == 1 and Survived == 1 and SibSp == 0 and Parch == 0")
df_man_1_liv_free_int = df.query("Sex != 'female' and Pclass == 1 and Survived == 1 and SibSp == 0 and Parch == 0").shape[0]
df_man_1_liv_free_int

25

In [53]:
df_man_1_liv_fam_int = df_man_1_liv_int - df_man_1_liv_free_int
df_man_1_liv_fam_int

20

In [98]:
df_man_1_liv_fam_int_per = round((df_man_1_liv_fam_int / df_man_1_fam_int) * 100, 0)
df_man_1_liv_free_int_per = round((df_man_1_liv_free_int / df_man_1_free_int) * 100, 0)
df_man_1_liv_fam_int_per, df_man_1_liv_free_int_per

(43.0, 33.0)

Выжившие мужчины из первого класса без родственников на борту = 25 (33%),

Выжившие мужчины из первого класса с родственниками на борту = 20 (43%).

In [63]:
df_wom_2 = df.query("Sex == 'female' and Pclass == 2")
df_wom_2_int = df.query("Sex == 'female' and Pclass == 2").shape[0]
df_wom_2_int

76

Количество женщин на борту во втором классе = 76.

In [64]:
df_wom_2_liv = df.query("Sex == 'female' and Pclass == 2 and Survived == 1")
df_wom_2_liv_int = df.query("Sex == 'female' and Pclass == 2 and Survived == 1").shape[0]
df_wom_2_liv_int

70

Количество спасшихся женщин во втором классе = 70.

In [65]:
df_wom_2_free = df.query("Sex == 'female' and Pclass == 2 and SibSp == 0 and Parch == 0")
df_wom_2_free_int = df.query("Sex == 'female' and Pclass == 2 and SibSp == 0 and Parch == 0").shape[0]
df_wom_2_free_int

32

In [66]:
df_wom_2_fam_int = df_wom_2_int - df_wom_2_free_int
df_wom_2_fam_int

44

Женщин во втором без родственников на борту = 32,

Женщин во втором с родственниками на борту = 44.

In [67]:
df_wom_2_liv_free = df.query("Sex == 'female' and Pclass == 2 and Survived == 1 and SibSp == 0 and Parch == 0")
df_wom_2_liv_free_int = df.query("Sex == 'female' and Pclass == 2 and Survived == 1 and SibSp == 0 and Parch == 0").shape[0]
df_wom_2_liv_free_int

29

In [68]:
df_wom_2_liv_fam_int = df_wom_2_liv_int - df_wom_2_liv_free_int
df_wom_2_liv_fam_int

41

In [93]:
df_wom_2_liv_fam_int_per = round((df_wom_2_liv_fam_int / df_wom_2_fam_int) * 100, 0)
df_wom_2_liv_free_int_per = round((df_wom_2_liv_free_int / df_wom_2_free_int) * 100, 0)
df_wom_2_liv_fam_int_per, df_wom_2_liv_free_int_per

(93.0, 91.0)

Выжившие женщины во втором без родственников на борту = 29 (91%),

Выжившие женщины во втором с родственниками на борту = 41 (93%).

In [69]:
df_man_2 = df.query("Sex != 'female' and Pclass == 2")
df_man_2_int = df.query("Sex != 'female' and Pclass == 2").shape[0]
df_man_2_int

108

Количество мужчин на борту во втором классе = 108.

In [71]:
df_man_2_free = df.query("Sex != 'female' and Pclass == 2 and SibSp == 0 and Parch == 0")
df_man_2_free_int = df.query("Sex != 'female' and Pclass == 2 and SibSp == 0 and Parch == 0").shape[0]
df_man_2_free_int

72

In [72]:
df_man_2_fam_int = df_man_2_int - df_man_2_free_int
df_man_2_fam_int

36

Количество мужчин без родственников на борту во втором классе = 72,

Количество мужчин с родственниками на борту во втором класс = 36.

In [73]:
df_man_2_liv = df.query("Sex != 'female' and Pclass == 2 and Survived == 1")
df_man_2_liv_int = df.query("Sex != 'female' and Pclass == 2 and Survived == 1").shape[0]
df_man_2_liv_int

17

Количество спасшихся мужчин во втором классе = 17.

In [74]:
df_man_2_liv_free = df.query("Sex != 'female' and Pclass == 2 and Survived == 1 and SibSp == 0 and Parch == 0")
df_man_2_liv_free_int = df.query("Sex != 'female' and Pclass == 2 and Survived == 1 and SibSp == 0 and Parch == 0").shape[0]
df_man_2_liv_free_int

7

In [75]:
df_man_2_liv_fam_int = df_man_2_liv_int - df_man_2_liv_free_int
df_man_2_liv_fam_int

10

In [96]:
df_man_2_liv_fam_int_per = round((df_man_2_liv_fam_int / df_man_2_fam_int) * 100, 0)
df_man_2_liv_free_int_per = round((df_man_2_liv_free_int / df_man_2_free_int) * 100, 0)
df_man_2_liv_fam_int_per, df_man_2_liv_free_int_per

(28.0, 10.0)

Выжившие мужчины во втором классе без родственников на борту = 7 (10%),

Выжившие мужчины во втором классе с родственниками на борту = 10 (28%).

In [77]:
df_wom_3 = df.query("Sex == 'female' and Pclass == 3")
df_wom_3_int = df.query("Sex == 'female' and Pclass == 3").shape[0]
df_wom_3_int

144

Количество женщин на борту в третьем классе = 144.

In [78]:
df_wom_3_liv = df.query("Sex == 'female' and Pclass == 3 and Survived == 1")
df_wom_3_liv_int = df.query("Sex == 'female' and Pclass == 3 and Survived == 1").shape[0]
df_wom_3_liv_int

72

Количество спасшихся женщин из третьего класса = 72.

In [79]:
df_wom_3_free = df.query("Sex == 'female' and Pclass == 3 and SibSp == 0 and Parch == 0")
df_wom_3_free_int = df.query("Sex == 'female' and Pclass == 3 and SibSp == 0 and Parch == 0").shape[0]
df_wom_3_free_int

60

In [80]:
df_wom_3_fam_int = df_wom_3_int - df_wom_3_free_int
df_wom_3_fam_int

84

Женщин в третьем классе без родственников на борту = 60,

Женщин в третьем классе с родственниками на борту = 84.

In [81]:
df_wom_3_liv_free = df.query("Sex == 'female' and Pclass == 3 and Survived == 1 and SibSp == 0 and Parch == 0")
df_wom_3_liv_free_int = df.query("Sex == 'female' and Pclass == 3 and Survived == 1 and SibSp == 0 and Parch == 0").shape[0]
df_wom_3_liv_free_int

37

In [82]:
df_wom_3_liv_fam_int = df_wom_3_liv_int - df_wom_3_liv_free_int
df_wom_3_liv_fam_int

35

In [94]:
df_wom_3_liv_fam_int_per = round((df_wom_3_liv_fam_int / df_wom_3_fam_int) * 100, 0)
df_wom_3_liv_free_int_per = round((df_wom_3_liv_free_int / df_wom_3_free_int) * 100, 0)
df_wom_3_liv_fam_int_per, df_wom_3_liv_free_int_per

(42.0, 62.0)

Выжившие женщины из третьего класса без родственников на борту = 37 (62%),

Выжившие женщины из третьего класса с родственниками на борту = 35 (42%).

In [84]:
df_man_3 = df.query("Sex != 'female' and Pclass == 3")
df_man_3_int = df.query("Sex != 'female' and Pclass == 3").shape[0]
df_man_3_int

347

Количество мужчин на борту в третьем классе = 347.

In [85]:
df_man_3_free = df.query("Sex != 'female' and Pclass == 3 and SibSp == 0 and Parch == 0")
df_man_3_free_int = df.query("Sex != 'female' and Pclass == 3 and SibSp == 0 and Parch == 0").shape[0]
df_man_3_free_int

264

In [87]:
df_man_3_fam_int = df_man_3_int - df_man_3_free_int
df_man_3_fam_int

83

Количество мужчин без родственников на борту в третьем классе = 264,

Количество мужчин с родственниками на борту в третьем классе = 83.

In [89]:
df_man_3_liv = df.query("Sex != 'female' and Pclass == 3 and Survived == 1")
df_man_3_liv_int = df.query("Sex != 'female' and Pclass == 3 and Survived == 1").shape[0]
df_man_3_liv_int

47

Количество спасшихся мужчин в третьем классе = 47.

In [90]:
df_man_3_liv_free = df.query("Sex != 'female' and Pclass == 3 and Survived == 1 and SibSp == 0 and Parch == 0")
df_man_3_liv_free_int = df.query("Sex != 'female' and Pclass == 3 and Survived == 1 and SibSp == 0 and Parch == 0").shape[0]
df_man_3_liv_free_int

32

In [91]:
df_man_3_liv_fam_int = df_man_3_liv_int - df_man_3_liv_free_int
df_man_3_liv_fam_int

15

In [95]:
df_man_3_liv_fam_int_per = round((df_man_3_liv_fam_int / df_man_3_fam_int) * 100, 0)
df_man_3_liv_free_int_per = round((df_man_3_liv_free_int / df_man_3_free_int) * 100, 0)
df_man_3_liv_fam_int_per, df_man_3_liv_free_int_per

(18.0, 12.0)